[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
pytest = "==6.1.2"
attrs = "==20.3.0"
click = "==7.1.2"
iniconfig = "==1.1.1"
itsdangerous = "==1.1.0"
pluggy = "==0.13.1"
py = "==1.9.0"
pyparsing = "==2.4.7"
toml = "==0.10.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"
environs = "*"

[requires]
python_version = "3.8"
