[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
pytest = "==6.1.2"
attrs = "==20.3.0"
click = "==7.1.2"
iniconfig = "==1.1.1"
itsdangerous = "==1.1.0"
pluggy = "==0.13.1"
py = "==1.9.0"
pyparsing = "==2.4.7"
toml = "==0.10.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"
environs = "==9.3.1"
requests = "==2.25.1"
webtest = "==2.0.35"
environ = "==1.0"
beautifulsoup4 = "==4.9.3"
certifi = "==2020.12.5"
chardet = "==4.0.0"
idna = "==2.10"
marshmallow = "==3.10.0"
python-dotenv = "==0.15.0"
six = "==1.15.0"
soupsieve = "==2.2.1"
urllib3 = "==1.26.4"
waitress = "==2.0.0"
WebOb = "==1.8.7"

[requires]
python_version = "3.8"
