-i https://pypi.org/simple/
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
environ==1.0
environs==9.3.1
flask==1.1.2
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
marshmallow==3.10.0
packaging==20.9
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
python-dotenv==0.15.0
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.4
waitress==2.0.0
webob==1.8.7
webtest==2.0.35
werkzeug==1.0.1
